footer{
    height: 39.68rem;
    width: 100%;
    background-color: $color-primary--dark;
    color: $color-white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30rem 0;

    & .row{
        align-items: flex-start;
        width: 100%;
    }

    & .copy{
        color: $color-white;
        max-width: 50rem;
        font-family: Sailec;
        font-size: 88px;
        font-style: normal;
        font-weight: 500;
        line-height: 103px;
        letter-spacing: 0em;
        text-align: left;

    }

    & .copyright{
        font-family: Sailec;
        font-size: 0.9rem;
        font-style: normal;
        font-weight: 400;
        line-height: 40px;
        letter-spacing: 0em;
        text-align: left;

    }

    & ul{
        list-style: none;


        & li{
            list-style: none;
            margin-bottom: 1rem;

            &.title{
                font-weight: bold;
                margin-bottom: 1.5rem;
            }
        }
    }
}
