.header{ 
    left: 101px;
    top: 27px;
    border-radius: 0px;
    z-index: 999999999999999999;
    
}

a.navbar-brand {
    color: $color-white;
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
}

a.nav-link {
    color: $color-secondary;
}

.nav-item:not(:last-child) {
    margin-right: 25px;
}