.header{
    height: 37px;
    width: 1719px;
    left: 101px;
    top: 27px;
    border-radius: 0px;
    position: fixed;
    z-index: 999999999999999999
    
}

a.navbar-brand {
    color: #fff;
}

a.nav-link {
    color: #000;
}