@import "layout";
@import "colors";
@import "fonts";
@import "header";
@import "footer";

html{
    font-size: 62.5%;

}

body, body *{
    font-family: 'Sailec', sans-serif;
    font-size: 1.6rem;
}

h2{
    font-family: Sailec;
    font-size: 5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 6rem;
    letter-spacing: 0em;
    text-align: left;

}

h3{
    font-family: Sailec;
    font-size: 4.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 6rem;
    letter-spacing: 0em;
    text-align: left;
    color: $color-secondary;
}

h6{
    height: 1rem;
    left: 14.25rem;
    top: 18.625rem;
    border-radius: nullpx;
    font-weight: 200;

}

.img2{
    top: 10rem;
    width: 109%;
    left: -10rem;
    position: absolute;
}


.banner_content{
    max-width: 55rem;
    color: $color-white;

    & h2 {
        font-family: Sailec;
        font-size: 7rem;
        font-style: normal;
        font-weight: 700;
        line-height: 8rem;
        letter-spacing: 0em;
        text-align: left;
    }
}



.one{
    max-width: 100vw;
    margin: 0;

    &--col1{
        background-color: #102421;
        height: 90rem;
        width: 113.6rem;
        display: flex;
        justify-content: center;
        align-items: center;

        &-h6-1{
            font-family: Sailec;
            font-size: 1.4rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1rem;
            letter-spacing: 0.5em;
            text-align: left;

        }

        &-h6-2{
            font-family: Sailec;
            font-size: 1.4rem;
            font-style: normal;
            font-weight: 300;
            line-height: 1.7rem;
            letter-spacing: 0em;
            text-align: left;
            max-width: 25rem;
            
        }
    }


}

.cta{
    height: 3.625rem;
    border-radius: 0px;

    & button{
        background: $color-primary--light;
        border-radius: 3rem;
        padding: 1rem 1.5rem;
        margin-top: 5rem;

    }

    & button:not(:last-child){
        margin-right: 4rem;
    }

    &--plain{

        
        & button{
            border-radius: 3rem;
            padding: 1rem 1.5rem;
            border: 1px black solid;
            background-color: white;


            & img{
                width: 0.7rem;
                height: 0.7rem;
                margin-left: 2rem;
                margin-bottom: 0.7rem;
            }
        }

    }

}


.product{
    
    &--list{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    &--img{

    }

    &--title{

        font-family: Sailec;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: 54px;
        letter-spacing: 0em;
        text-align: center;
        color: $color-secondary;


    }

    &--price{

        margin: 2rem 0;

        font-family: Sailec;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        color: $color-grey;

    }

    &--name{

        font-family: Sailec;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
        color:$color-grey;
        ;


    }
}

.testimonial{

    height: 100rem;
    color: $color-white;
    justify-content: center;
    align-items: center;
    display: flex;
    background: url('/images/Rectangle 6.png') no-repeat;

    &--heading{
        font-family: Sailec;
        font-size: 80px;
        font-style: normal;
        font-weight: 500;
        line-height: 96px;
        letter-spacing: 0em;
        text-align: left;
        max-width: 70rem;

    }

    &--cta{
        font-family: Sailec;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0em;
        margin-top: 5rem;


    }

    &--description{
        font-family: Sailec;
        font-size: 50px;
        font-style: normal;
        font-weight: 500;
        line-height: 75px;
        letter-spacing: 0em;
        text-align: left;

        & blockquote h5{
            font-family: Sailec;
            font-size: 50px;
            font-style: normal;
            font-weight: 500;
            line-height: 75px;
            letter-spacing: 0em;
            text-align: left;
            color: black;

            &::before{
                content: url(../../images/lquote.svg);
                position: absolute;
                left: 3rem;
                top: 2rem;
            }

            &::after{
                content: url(../../images/rquote.svg);
                position: absolute;
                bottom: 15rem;
                right: 4rem;
            }
    
        }

    }

    & .box{
        background-color: #FFF3F3;
        padding: 8rem;
        margin: -15rem 0;
    }

    &--client{

        color: black;
        margin-top: 6rem;

        &--name{
            font-family: Sailec;
            font-size: 22px;
            font-style: normal;
            font-weight: 500;
            line-height: 37px;
            letter-spacing: 0em;
            text-align: right;

        }

        &--designation{
            font-family: Sailec;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 27px;
            letter-spacing: 0em;
            text-align: right;

        }
    }

    

    &--bg{
        width: 100%;
        position: absolute;
        max-width: 97vw;
    }
}

.vitamins{

    &--img{
        width: 100%;
    }

    &--title{
        font-family: Sailec;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: 54px;
        letter-spacing: 0em;
        text-align: center;
        color: $color-secondary;
        margin: 2rem;
    }

    &--price{
        font-family: Sailec;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: center;
        color: $color-grey;
        margin-bottom: 2rem;

    }

    &--name{
        font-family: Sailec;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
        color: $color-grey;
        max-width: 25rem;
        margin: auto;
    }
}

.benefits{
    &--list{

        & .col-4{
            justify-content: center;
            display: flex;
            align-items: center;
            text-align: center;
            flex-direction: column;
            
        }
    }

    &--title{
        font-family: Sailec;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: center;
        color:#151442;
        max-width: 25rem;
        margin-top: 5rem;
    }
}

@media (max-width:1700px){


}
