section {
  margin: 15rem 0; }

@font-face {
  font-family: 'Sailec';
  src: url("../fonts/sailec/Sailec-Black.eot");
  src: url("../fonts/sailec/Sailec-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/sailec/Sailec-Black.woff2") format("woff2"), url("../fonts/sailec/Sailec-Black.woff") format("woff"), url("../fonts/sailec/Sailec-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Sailec';
  src: url("../fonts/sailec/Sailec-BlackItalic.eot");
  src: url("../fonts/sailec/Sailec-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/sailec/Sailec-BlackItalic.woff2") format("woff2"), url("../fonts/sailec/Sailec-BlackItalic.woff") format("woff"), url("../fonts/sailec/Sailec-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Sailec';
  src: url("../fonts/sailec/Sailec-BoldItalic.eot");
  src: url("../fonts/sailec/Sailec-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/sailec/Sailec-BoldItalic.woff2") format("woff2"), url("../fonts/sailec/Sailec-BoldItalic.woff") format("woff"), url("../fonts/sailec/Sailec-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Sailec Hairline';
  src: url("../fonts/sailec/Sailec-HairlineItalic.eot");
  src: url("../fonts/sailec/Sailec-HairlineItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/sailec/Sailec-HairlineItalic.woff2") format("woff2"), url("../fonts/sailec/Sailec-HairlineItalic.woff") format("woff"), url("../fonts/sailec/Sailec-HairlineItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Sailec';
  src: url("../fonts/sailec/Sailec-Bold.eot");
  src: url("../fonts/sailec/Sailec-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/sailec/Sailec-Bold.woff2") format("woff2"), url("../fonts/sailec/Sailec-Bold.woff") format("woff"), url("../fonts/sailec/Sailec-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Sailec';
  src: url("../fonts/sailec/Sailec-LightItalic.eot");
  src: url("../fonts/sailec/Sailec-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/sailec/Sailec-LightItalic.woff2") format("woff2"), url("../fonts/sailec/Sailec-LightItalic.woff") format("woff"), url("../fonts/sailec/Sailec-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Sailec';
  src: url("../fonts/sailec/Sailec-Light.eot");
  src: url("../fonts/sailec/Sailec-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/sailec/Sailec-Light.woff2") format("woff2"), url("../fonts/sailec/Sailec-Light.woff") format("woff"), url("../fonts/sailec/Sailec-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Sailec';
  src: url("../fonts/sailec/Sailec-Medium.eot");
  src: url("../fonts/sailec/Sailec-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/sailec/Sailec-Medium.woff2") format("woff2"), url("../fonts/sailec/Sailec-Medium.woff") format("woff"), url("../fonts/sailec/Sailec-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Sailec';
  src: url("../fonts/sailec/Sailec-MediumItalic.eot");
  src: url("../fonts/sailec/Sailec-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/sailec/Sailec-MediumItalic.woff2") format("woff2"), url("../fonts/sailec/Sailec-MediumItalic.woff") format("woff"), url("../fonts/sailec/Sailec-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Sailec';
  src: url("../fonts/sailec/Sailec-RegularItalic.eot");
  src: url("../fonts/sailec/Sailec-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/sailec/Sailec-RegularItalic.woff2") format("woff2"), url("../fonts/sailec/Sailec-RegularItalic.woff") format("woff"), url("../fonts/sailec/Sailec-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Sailec';
  src: url("../fonts/sailec/Sailec-ThinItalic.eot");
  src: url("../fonts/sailec/Sailec-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/sailec/Sailec-ThinItalic.woff2") format("woff2"), url("../fonts/sailec/Sailec-ThinItalic.woff") format("woff"), url("../fonts/sailec/Sailec-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Sailec Hairline';
  src: url("../fonts/sailec/Sailec-Hairline.eot");
  src: url("../fonts/sailec/Sailec-Hairline.eot?#iefix") format("embedded-opentype"), url("../fonts/sailec/Sailec-Hairline.woff2") format("woff2"), url("../fonts/sailec/Sailec-Hairline.woff") format("woff"), url("../fonts/sailec/Sailec-Hairline.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Sailec';
  src: url("../fonts/sailec/Sailec-Regular.eot");
  src: url("../fonts/sailec/Sailec-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/sailec/Sailec-Regular.woff2") format("woff2"), url("../fonts/sailec/Sailec-Regular.woff") format("woff"), url("../fonts/sailec/Sailec-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Sailec';
  src: url("../fonts/sailec/Sailec-Thin.eot");
  src: url("../fonts/sailec/Sailec-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/sailec/Sailec-Thin.woff2") format("woff2"), url("../fonts/sailec/Sailec-Thin.woff") format("woff"), url("../fonts/sailec/Sailec-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap; }

.header {
  left: 101px;
  top: 27px;
  border-radius: 0px;
  z-index: 999999999999999999; }

a.navbar-brand {
  color: #ffffff;
  font-size: 1.6rem;
  letter-spacing: 0.3rem; }

a.nav-link {
  color: #151442; }

.nav-item:not(:last-child) {
  margin-right: 25px; }

footer {
  height: 39.68rem;
  width: 100%;
  background-color: #102421;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30rem 0; }
  footer .row {
    align-items: flex-start;
    width: 100%; }
  footer .copy {
    color: #ffffff;
    max-width: 50rem;
    font-family: Sailec;
    font-size: 88px;
    font-style: normal;
    font-weight: 500;
    line-height: 103px;
    letter-spacing: 0em;
    text-align: left; }
  footer .copyright {
    font-family: Sailec;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left; }
  footer ul {
    list-style: none; }
    footer ul li {
      list-style: none;
      margin-bottom: 1rem; }
      footer ul li.title {
        font-weight: bold;
        margin-bottom: 1.5rem; }

html {
  font-size: 62.5%; }

body, body * {
  font-family: 'Sailec', sans-serif;
  font-size: 1.6rem; }

h2 {
  font-family: Sailec;
  font-size: 5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 6rem;
  letter-spacing: 0em;
  text-align: left; }

h3 {
  font-family: Sailec;
  font-size: 4.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 6rem;
  letter-spacing: 0em;
  text-align: left;
  color: #151442; }

h6 {
  height: 1rem;
  left: 14.25rem;
  top: 18.625rem;
  border-radius: nullpx;
  font-weight: 200; }

.img2 {
  top: 10rem;
  width: 109%;
  left: -10rem;
  position: absolute; }

.banner_content {
  max-width: 55rem;
  color: #ffffff; }
  .banner_content h2 {
    font-family: Sailec;
    font-size: 7rem;
    font-style: normal;
    font-weight: 700;
    line-height: 8rem;
    letter-spacing: 0em;
    text-align: left; }

.one {
  max-width: 100vw;
  margin: 0; }
  .one--col1 {
    background-color: #102421;
    height: 90rem;
    width: 113.6rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    .one--col1-h6-1 {
      font-family: Sailec;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 500;
      line-height: 1rem;
      letter-spacing: 0.5em;
      text-align: left; }
    .one--col1-h6-2 {
      font-family: Sailec;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 300;
      line-height: 1.7rem;
      letter-spacing: 0em;
      text-align: left;
      max-width: 25rem; }

.cta {
  height: 3.625rem;
  border-radius: 0px; }
  .cta button {
    background: #C7E1BF;
    border-radius: 3rem;
    padding: 1rem 1.5rem;
    margin-top: 5rem; }
  .cta button:not(:last-child) {
    margin-right: 4rem; }
  .cta--plain button {
    border-radius: 3rem;
    padding: 1rem 1.5rem;
    border: 1px black solid;
    background-color: white; }
    .cta--plain button img {
      width: 0.7rem;
      height: 0.7rem;
      margin-left: 2rem;
      margin-bottom: 0.7rem; }

.product--list {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }

.product--title {
  font-family: Sailec;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 54px;
  letter-spacing: 0em;
  text-align: center;
  color: #151442; }

.product--price {
  margin: 2rem 0;
  font-family: Sailec;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  color: #8F9095; }

.product--name {
  font-family: Sailec;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #8F9095; }

.testimonial {
  height: 100rem;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  display: flex;
  background: url("/images/Rectangle 6.png") no-repeat; }
  .testimonial--heading {
    font-family: Sailec;
    font-size: 80px;
    font-style: normal;
    font-weight: 500;
    line-height: 96px;
    letter-spacing: 0em;
    text-align: left;
    max-width: 70rem; }
  .testimonial--cta {
    font-family: Sailec;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    margin-top: 5rem; }
  .testimonial--description {
    font-family: Sailec;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 75px;
    letter-spacing: 0em;
    text-align: left; }
    .testimonial--description blockquote h5 {
      font-family: Sailec;
      font-size: 50px;
      font-style: normal;
      font-weight: 500;
      line-height: 75px;
      letter-spacing: 0em;
      text-align: left;
      color: black; }
      .testimonial--description blockquote h5::before {
        content: url(../../images/lquote.svg);
        position: absolute;
        left: 3rem;
        top: 2rem; }
      .testimonial--description blockquote h5::after {
        content: url(../../images/rquote.svg);
        position: absolute;
        bottom: 15rem;
        right: 4rem; }
  .testimonial .box {
    background-color: #FFF3F3;
    padding: 8rem;
    margin: -15rem 0; }
  .testimonial--client {
    color: black;
    margin-top: 6rem; }
    .testimonial--client--name {
      font-family: Sailec;
      font-size: 22px;
      font-style: normal;
      font-weight: 500;
      line-height: 37px;
      letter-spacing: 0em;
      text-align: right; }
    .testimonial--client--designation {
      font-family: Sailec;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 27px;
      letter-spacing: 0em;
      text-align: right; }
  .testimonial--bg {
    width: 100%;
    position: absolute;
    max-width: 97vw; }

.vitamins--img {
  width: 100%; }

.vitamins--title {
  font-family: Sailec;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 54px;
  letter-spacing: 0em;
  text-align: center;
  color: #151442;
  margin: 2rem; }

.vitamins--price {
  font-family: Sailec;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  color: #8F9095;
  margin-bottom: 2rem; }

.vitamins--name {
  font-family: Sailec;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #8F9095;
  max-width: 25rem;
  margin: auto; }

.benefits--list .col-4 {
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column; }

.benefits--title {
  font-family: Sailec;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  color: #151442;
  max-width: 25rem;
  margin-top: 5rem; }
